pip==19.2.3
bump2version==0.5.11
wheel==0.33.6
Sphinx>=5.0.0
twine==1.14.0
Click==7.1.2
pytest==6.2.4
numpy
hypothesis
build
pytest-cov
coverage-badge
sphinx-design
sphinx_rtd_theme
plotly
kaleido
nbsphinx
more_itertools
sphinxcontrib.bibtex
pandas
